*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --shadow: #64748b;
    --blueBg: rgb(42, 187, 155, .7);
    --lightGrey: #a6afbf;
}

body{
    font-family: sans-serif;
}

.startContainer{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#start{
    padding: 1em 2.5em 1em 2.5em;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
}

/*Slide button*/
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_group{
    position: relative;
    width: 340px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 5px 2px var(--shadow);
    padding: 10px 65px;
    margin-top: 100px;
    line-height: 40px;
    z-index: 1;
}

.btn_one{
    float: left;
    font-size: 2.5em;
    font-weight: 700;
    color: white;
    text-decoration: none;
    transition: 1s;
}

.btn_two{
    float: right;
    font-size: 2.5em;
    font-weight: 700;
    color: var(--lightGrey);
    text-decoration: none;
    transition: 1s;
}

.btn_bg{
    background: var(--blueBg);
    height: 60px;
    width: 170px;
    position: absolute;
    top: 0;
    margin-left: -241px;
    border-radius: 10px;
    z-index: -1;
    transition: 1s;
}

.btn_two > span:hover{
    transition: 1s;
}

.btn_two:hover ~ .btn_one{
    color: var(--lightGrey);
}

/*Tic Tac Toe*/
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;

}

#board{
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    box-shadow: 0 2px 5px 2px var(--shadow);
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(100, 116, 139, 0.5);
    font-size: 8em;
    color: var(--shadow);
    cursor: pointer;
    transition: .3s ease-out;
}

.cell:hover{
    background: var(--blueBg);
    transition: .2s ease-in;
}

.hidden{
    display: none;
}